# Versiones de los contenedores
MARIADB_VERSION=10.11
PHPMYADMIN_VERSION=latest
OPENSSH_VERSION=latest
MAVEN_VERSION=latest

# Variables de configuración
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=one-way-autofirmado
